<div>

  {{#if iscreatedpost}}
    {{! make blog clickable }}
    <div class="createdBlog" id="dashboardblog" data-id={{blog.id}}>
      <div>
        <h2 class="hpBHeader">Edit Blog</h2>
      </div>
      <div>
        <h3>Title</h3>
        <textarea
          id="updatedblogtitle"
          rows="5"
          cols="50"
        >{{blog.title}}</textarea>
      </div>
      <div>
        <h3>Content</h3>
        <textarea
          id="updatedblogtext"
          rows="5"
          cols="50"
        >{{blog.content}}</textarea>
      </div>
      <div>
        <button id="updatebtn">Update</button>
        <button id="deletebtn">Delete</button>
      </div>

    </div>

  {{/if}}

  {{! Creating a blog when on dashboard page }}
  {{#if isdashboard}}
    <div class="dashboardBlog">
      <div>
        <h2 class="hpBHeader">CreateBlog</h2>
      </div>
      <div>
        <h3>Title</h3>
        <input id="blog-title" />
      </div>
      <div>
        <h3>Content</h3>
        <input id="blog-text" />
      </div>
      <button id="blogbtn">{{btn}}</button>
    </div>

  {{/if}}

  {{#if iscomment}}
    <div>
      <h3>Comment</h3>
      <input id="blog-text-comment" />
      <button id="blogbtn">{{btn}}</button>
    </div>
  {{/if}}

  {{! When on dashboard page }}
  {{#if newComment}}
    <div class="container">
      {{! make div with class blog clickable  }}
      {{! blog }}
      <div
        class="createdBlog"
        data-id="{{blog.id}}"
        data-user_id="{{blog.user_id}}"
      >
        <div class="hpBHeader">
          <p>Posted by {{blog.user}}</p>
        </div>
        <p>{{blog.content}}</p>

      </div>

      {{! look into data-attribute  and data content specifically this. id }}

    </div>
  {{/if}}

</div>

{{! When on dashboard page  }}
{{#if isdashboard}}
  <div id="newblogBTN">
    <button>New Post</button>
  </div>
{{/if}}