<div class="container">
  {{#each blogs}}
    {{! make div with class blog clickable  }}
    <div class="homepageBlog" data-id="{{this.id}}">
      {{! Acronym hPB : homepageBlogHeader }}
      <div class="hPBHeader">
        <h2>{{this.title}}</h2>
        <p>Posted by {{this.user.username}}{{this.date}}</p>
      </div>
      <p>{{this.content}}</p>

    </div>
  {{else}}
    <p>No blogs have been posted yet.</p>
  {{/each}}
</div>

<script src="./js/homepage.js"></script>