<div class="container">
    {{#each blogs}}
    {{!-- make div with class blog clickable  --}}
        <div class="blog" data-id ="{{this.id}}">
            <h2>{{this.title}}</h2>
            <p>{{this.content}}</p>
            <p>Posted by {{this.user.username}}</p>
        </div>
       {{else}}
       {{!-- look into data-attribute  and data content specifically this. id --}}
        <p>No blogs have been posted yet.</p> 
    {{/each}}
</div>

{{!-- display into cards and make the blogs clickable as well as using the data attribute to get the id --}}
{{!-- when the blog is clickable it redirect to a different page that will display
the one blog and then display the comment page  --}}
<script src="./js/homepage.js"></script>
{{!-- <script src="./js/comment.js"></script> --}}